/*
 * HeroUI Theme Customization
 * Add this to your global.css after importing @heroui/styles
 * Only includes base variables from variables.css
 * @see https://v3.heroui.com/docs/react/getting-started/theming
 */

[data-theme='coinbase'],
[data-theme='coinbase-light'] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(52.82% 0.2628 262.87);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(97.02% 0.002 262.87);
  --border: oklch(90% 0.002 262.87);
  --danger: oklch(0.5507 0.2062 24);
  --danger-foreground: oklch(98% 0.02 24);
  --default: oklch(94% 0.002 262.87);
  --default-foreground: oklch(21.03% 0.0059 262.87);
  --field-background: oklch(100% 0.001 262.87);
  --field-foreground: oklch(21.03% 0.0059 262.87);
  --field-placeholder: oklch(55.17% 0.004 262.87);
  --focus: oklch(52.82% 0.2628 262.87);
  --foreground: oklch(21.03% 0.0059 262.87);
  --muted: oklch(55.17% 0.004 262.87);
  --overlay: oklch(100% 0.0006 262.87);
  --overlay-foreground: oklch(21.03% 0.0059 262.87);
  --scrollbar: oklch(87.1% 0.002 262.87);
  --segment: oklch(100% 0.002 262.87);
  --segment-foreground: oklch(21.03% 0.0059 262.87);
  --separator: oklch(92% 0.002 262.87);
  --success: oklch(0.5438 0.1268 157.17);
  --success-foreground: oklch(98% 0.0127 157.17);
  --surface: oklch(100% 0.001 262.87);
  --surface-foreground: oklch(21.03% 0.0059 262.87);
  --warning: oklch(0.8095 0.1119 61.69);
  --warning-foreground: oklch(15% 0.0336 61.69);

  /* Border Radius */
  --radius: 0.5rem;
  --field-radius: 0.125rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-inter);
}

[data-theme='coinbase-dark'] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(52.82% 0.2628 262.87);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(12% 0.002 262.87);
  --border: oklch(28% 0.002 262.87);
  --danger: oklch(0.6545 0.2145 22.31);
  --danger-foreground: oklch(15% 0.05 22.31);
  --default: oklch(27.4% 0.002 262.87);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.004 262.87);
  --field-foreground: oklch(99.11% 0 0);
  --field-placeholder: oklch(70.5% 0.004 262.87);
  --focus: oklch(52.82% 0.2628 262.87);
  --foreground: oklch(99.11% 0 0);
  --muted: oklch(70.5% 0.004 262.87);
  --overlay: oklch(21.03% 0.004 262.87);
  --overlay-foreground: oklch(99.11% 0 0);
  --scrollbar: oklch(70.5% 0.002 262.87);
  --segment: oklch(39.64% 0.002 262.87);
  --segment-foreground: oklch(99.11% 0 0);
  --separator: oklch(25% 0.002 262.87);
  --success: oklch(0.7574 0.180554 156.931);
  --success-foreground: oklch(15% 0.05 156.93);
  --surface: oklch(21.03% 0.004 262.87);
  --surface-foreground: oklch(99.11% 0 0);
  --warning: oklch(0.8095 0.1119 61.69);
  --warning-foreground: oklch(15% 0.0336 61.69);
}
