/*
 * HeroUI Theme Customization
 * Add this to your global.css after importing @heroui/styles
 * Only includes base variables from variables.css
 * @see https://v3.heroui.com/docs/react/getting-started/theming
 */

[data-theme='mint'],
[data-theme='mint-light'] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(82% 0.12 155);
  --accent-foreground: oklch(15% 0.024 155);
  --background: oklch(97.02% 0.0015 155);
  --border: oklch(90% 0.0015 155);
  --danger: oklch(65.32% 0.2335 13.88);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94% 0.0015 155);
  --default-foreground: oklch(21.03% 0.0059 155);
  --field-background: oklch(100% 0.0008 155);
  --field-foreground: oklch(21.03% 0.0059 155);
  --field-placeholder: oklch(55.17% 0.003 155);
  --focus: oklch(82% 0.12 155);
  --foreground: oklch(21.03% 0.0059 155);
  --muted: oklch(55.17% 0.003 155);
  --overlay: oklch(100% 0.0004 155);
  --overlay-foreground: oklch(21.03% 0.0059 155);
  --scrollbar: oklch(87.1% 0.0015 155);
  --segment: oklch(100% 0.0015 155);
  --segment-foreground: oklch(21.03% 0.0059 155);
  --separator: oklch(92% 0.0015 155);
  --success: oklch(73.29% 0.1941 138.95);
  --success-foreground: oklch(21.03% 0.0059 138.95);
  --surface: oklch(100% 0.0008 155);
  --surface-foreground: oklch(21.03% 0.0059 155);
  --warning: oklch(78.19% 0.159 60.47);
  --warning-foreground: oklch(21.03% 0.0059 60.47);

  /* Border Radius */
  --radius: 0.5rem;
  --field-radius: 0.75rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-inter);
}

[data-theme='mint-dark'] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(82% 0.12 155);
  --accent-foreground: oklch(15% 0.024 155);
  --background: oklch(12% 0.0015 155);
  --border: oklch(28% 0.0015 155);
  --danger: oklch(59.4% 0.1973 12.77);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.4% 0.0015 155);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.003 155);
  --field-foreground: oklch(99.11% 0 0);
  --field-placeholder: oklch(70.5% 0.003 155);
  --focus: oklch(82% 0.12 155);
  --foreground: oklch(99.11% 0 0);
  --muted: oklch(70.5% 0.003 155);
  --overlay: oklch(21.03% 0.003 155);
  --overlay-foreground: oklch(99.11% 0 0);
  --scrollbar: oklch(70.5% 0.0015 155);
  --segment: oklch(39.64% 0.0015 155);
  --segment-foreground: oklch(99.11% 0 0);
  --separator: oklch(25% 0.0015 155);
  --success: oklch(73.29% 0.1941 138.95);
  --success-foreground: oklch(21.03% 0.0059 138.95);
  --surface: oklch(21.03% 0.003 155);
  --surface-foreground: oklch(99.11% 0 0);
  --warning: oklch(82.03% 0.1392 64.48);
  --warning-foreground: oklch(21.03% 0.0059 64.48);
}
