/*
 * HeroUI Theme Customization
 * Add this to your global.css after importing @heroui/styles
 * Only includes base variables from variables.css
 * @see https://v3.heroui.com/docs/react/getting-started/theming
 */

[data-theme='rabbit'],
[data-theme='rabbit-light'] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(66.78% 0.2232 36.66);
  --accent-foreground: oklch(15% 0.03 36.66);
  --background: oklch(97.02% 0.01 36.66);
  --border: oklch(90% 0.01 36.66);
  --danger: oklch(0.6291 0.2565 29.09);
  --danger-foreground: oklch(98% 0.02 29.09);
  --default: oklch(94% 0.01 36.66);
  --default-foreground: oklch(21.03% 0.0059 36.66);
  --field-background: oklch(100% 0.005 36.66);
  --field-foreground: oklch(21.03% 0.0059 36.66);
  --field-placeholder: oklch(55.17% 0.02 36.66);
  --focus: oklch(66.78% 0.2232 36.66);
  --foreground: oklch(21.03% 0.0059 36.66);
  --muted: oklch(55.17% 0.02 36.66);
  --overlay: oklch(100% 0.003 36.66);
  --overlay-foreground: oklch(21.03% 0.0059 36.66);
  --scrollbar: oklch(87.1% 0.01 36.66);
  --segment: oklch(100% 0.01 36.66);
  --segment-foreground: oklch(21.03% 0.0059 36.66);
  --separator: oklch(92% 0.01 36.66);
  --success: oklch(0.7113 0.2043 140.81);
  --success-foreground: oklch(15% 0.05 140.81);
  --surface: oklch(100% 0.005 36.66);
  --surface-foreground: oklch(21.03% 0.0059 36.66);
  --warning: oklch(78.19% 0.1617 46.27);
  --warning-foreground: oklch(21.03% 0.0059 46.27);

  /* Border Radius */
  --radius: 0.5rem;
  --field-radius: 1rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-inter);
}

[data-theme='rabbit-dark'] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(66.78% 0.2232 36.66);
  --accent-foreground: oklch(15% 0.03 36.66);
  --background: oklch(12% 0.01 36.66);
  --border: oklch(28% 0.01 36.66);
  --danger: oklch(0.6291 0.2565 29.09);
  --danger-foreground: oklch(98% 0.02 29.09);
  --default: oklch(27.4% 0.01 36.66);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.02 36.66);
  --field-foreground: oklch(99.11% 0 0);
  --field-placeholder: oklch(70.5% 0.02 36.66);
  --focus: oklch(66.78% 0.2232 36.66);
  --foreground: oklch(99.11% 0 0);
  --muted: oklch(70.5% 0.02 36.66);
  --overlay: oklch(21.03% 0.02 36.66);
  --overlay-foreground: oklch(99.11% 0 0);
  --scrollbar: oklch(70.5% 0.01 36.66);
  --segment: oklch(39.64% 0.01 36.66);
  --segment-foreground: oklch(99.11% 0 0);
  --separator: oklch(25% 0.01 36.66);
  --success: oklch(0.7113 0.2043 140.81);
  --success-foreground: oklch(15% 0.05 140.81);
  --surface: oklch(21.03% 0.02 36.66);
  --surface-foreground: oklch(99.11% 0 0);
  --warning: oklch(82.03% 0.1416 50.28);
  --warning-foreground: oklch(21.03% 0.0059 50.28);
}
