/*
 * HeroUI Theme Customization
 * Add this to your global.css after importing @heroui/styles
 * Only includes base variables from variables.css
 * @see https://v3.heroui.com/docs/react/getting-started/theming
 */

[data-theme='spotify'],
[data-theme='spotify-light'] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(76.97% 0.2124 148.67);
  --accent-foreground: oklch(15% 0.03 148.67);
  --background: oklch(97.02% 0.002 148.67);
  --border: oklch(90% 0.002 148.67);
  --danger: oklch(0.5509 0.2166 25.29);
  --danger-foreground: oklch(98% 0.02 25.29);
  --default: oklch(94% 0.002 148.67);
  --default-foreground: oklch(21.03% 0.0059 148.67);
  --field-background: oklch(100% 0.001 148.67);
  --field-foreground: oklch(21.03% 0.0059 148.67);
  --field-placeholder: oklch(55.17% 0.004 148.67);
  --focus: oklch(76.97% 0.2124 148.67);
  --foreground: oklch(21.03% 0.0059 148.67);
  --muted: oklch(55.17% 0.004 148.67);
  --overlay: oklch(100% 0.0006 148.67);
  --overlay-foreground: oklch(21.03% 0.0059 148.67);
  --scrollbar: oklch(87.1% 0.002 148.67);
  --segment: oklch(100% 0.002 148.67);
  --segment-foreground: oklch(21.03% 0.0059 148.67);
  --separator: oklch(92% 0.002 148.67);
  --success: oklch(0.6072 0.1647 149.02);
  --success-foreground: oklch(98% 0.0165 149.02);
  --surface: oklch(100% 0.001 148.67);
  --surface-foreground: oklch(21.03% 0.0059 148.67);
  --warning: oklch(0.6972 0.1687 54.22);
  --warning-foreground: oklch(15% 0.05 54.22);

  /* Border Radius */
  --radius: 0.5rem;
  --field-radius: 0.125rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-inter);
}

[data-theme='spotify-dark'] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(76.97% 0.2124 148.67);
  --accent-foreground: oklch(15% 0.03 148.67);
  --background: oklch(12% 0.002 148.67);
  --border: oklch(28% 0.002 148.67);
  --danger: oklch(0.5931 0.2338 25.42);
  --danger-foreground: oklch(98% 0.02 25.42);
  --default: oklch(27.4% 0.002 148.67);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.004 148.67);
  --field-foreground: oklch(99.11% 0 0);
  --field-placeholder: oklch(70.5% 0.004 148.67);
  --focus: oklch(76.97% 0.2124 148.67);
  --foreground: oklch(99.11% 0 0);
  --muted: oklch(70.5% 0.004 148.67);
  --overlay: oklch(21.03% 0.004 148.67);
  --overlay-foreground: oklch(99.11% 0 0);
  --scrollbar: oklch(70.5% 0.002 148.67);
  --segment: oklch(39.64% 0.002 148.67);
  --segment-foreground: oklch(99.11% 0 0);
  --separator: oklch(25% 0.002 148.67);
  --success: oklch(0.7697 0.2124 148.67);
  --success-foreground: oklch(15% 0.05 148.67);
  --surface: oklch(21.03% 0.004 148.67);
  --surface-foreground: oklch(99.11% 0 0);
  --warning: oklch(0.7921 0.1626 67.42);
  --warning-foreground: oklch(15% 0.0488 67.42);
}
