/*
 * HeroUI Theme Customization
 * Add this to your global.css after importing @heroui/styles
 * Only includes base variables from variables.css
 * @see https://v3.heroui.com/docs/react/getting-started/theming
 */

[data-theme='uber'],
[data-theme='uber-light'] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(0 0 0);
  --accent-foreground: oklch(15% 0 0);
  --background: oklch(97.02% 0 0);
  --border: oklch(90% 0 0);
  --danger: oklch(0.573 0.2249 21.97);
  --danger-foreground: oklch(98% 0.02 21.97);
  --default: oklch(94% 0 0);
  --default-foreground: oklch(21.03% 0.0059 0);
  --field-background: oklch(100% 0 0);
  --field-foreground: oklch(21.03% 0.0059 0);
  --field-placeholder: oklch(55.17% 0 0);
  --focus: oklch(0 0 0);
  --foreground: oklch(21.03% 0.0059 0);
  --muted: oklch(55.17% 0 0);
  --overlay: oklch(100% 0 0);
  --overlay-foreground: oklch(21.03% 0.0059 0);
  --scrollbar: oklch(87.1% 0 0);
  --segment: oklch(100% 0 0);
  --segment-foreground: oklch(21.03% 0.0059 0);
  --separator: oklch(92% 0 0);
  --success: oklch(0.6277 0.1604 153.06);
  --success-foreground: oklch(98% 0.016 153.06);
  --surface: oklch(100% 0 0);
  --surface-foreground: oklch(21.03% 0.0059 0);
  --warning: oklch(0.8446 0.1525 80.6);
  --warning-foreground: oklch(15% 0.0457 80.6);

  /* Border Radius */
  --radius: 0.25rem;
  --field-radius: 0.25rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-inter);
}

[data-theme='uber-dark'] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(0.9848 0 0);
  --accent-foreground: oklch(99.11% 0 0);
  --background: oklch(12% 0 0);
  --border: oklch(28% 0 0);
  --danger: oklch(0.7044 0.1872 23.19);
  --danger-foreground: oklch(15% 0.05 23.19);
  --default: oklch(27.4% 0 0);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0 0);
  --field-foreground: oklch(99.11% 0 0);
  --field-placeholder: oklch(70.5% 0 0);
  --focus: oklch(0.9848 0 0);
  --foreground: oklch(99.11% 0 0);
  --muted: oklch(70.5% 0 0);
  --overlay: oklch(21.03% 0 0);
  --overlay-foreground: oklch(99.11% 0 0);
  --scrollbar: oklch(70.5% 0 0);
  --segment: oklch(39.64% 0 0);
  --segment-foreground: oklch(99.11% 0 0);
  --separator: oklch(25% 0 0);
  --success: oklch(0.6514 0.1321 156.22);
  --success-foreground: oklch(15% 0.0396 156.22);
  --surface: oklch(21.03% 0 0);
  --surface-foreground: oklch(99.11% 0 0);
  --warning: oklch(0.8803 0.1348 86.06);
  --warning-foreground: oklch(15% 0.0404 86.06);
}
