/* Multi-Column Layout */
div[data-type='columns'] {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin: 1.5rem 0;
  align-items: stretch;
}

/* Equal width layouts (2, 3, etc. columns will share space equally) */
div[data-type='columns'].layout-two-column > div[data-type='column'],
div[data-type='columns'].layout-three-column > div[data-type='column'] {
  flex: 1;
}

div[data-type='columns'].layout-sidebar-left > div[data-type='column']:first-child {
  flex: 0 0 30%;
}

div[data-type='columns'].layout-sidebar-left > div[data-type='column']:last-child {
  flex: 1;
}

div[data-type='columns'].layout-sidebar-right > div[data-type='column']:first-child {
  flex: 1;
}

div[data-type='columns'].layout-sidebar-right > div[data-type='column']:last-child {
  flex: 0 0 30%;
}
