.ProseMirror {
  @apply z-0 mx-auto outline-0;

  .selection {
    @apply inline;
  }

  .selection,
  *::selection {
    @apply inline bg-black/10 dark:bg-white/20;
  }

  &.resize-cursor {
    @apply cursor-col-resize;
  }

  .ProseMirror-gapcursor {
    @apply relative mx-auto w-full max-w-2xl;

    &:after {
      @apply -top-[1.5em] right-0 left-0 mx-auto w-full max-w-2xl border-t-black/40 dark:border-t-white/40;
    }
  }
}
